# Laravel specific
/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/.env
/.env.*.php
/.env.php
/.phpunit.result.cache
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views

# Laravel IDE Helper
/_ide_helper.php
/_ide_helper_models.php

# Laravel Telescope
/telescope

# Laravel Horizon
/horizon

# Ignored by default in Laravel projects
Homestead.yaml
Homestead.json
.env.example

# OS or Editor specific
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
*.vscode
.idea
*.phpstorm.meta.php